
/* Add this to your existing CSS */



/*#globe-div {

  width: 100vw;
  height: 100vh;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
*/

c
.globe-container, canvas, EncomGlobe {
  //padding: 2.5rem 0rem 0rem 2.5rem;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 77;
  display: flex;

}

/* ... rest of your CSS ... */

.globe-wrapper {
  display: flex;
  align-items: center;
  //justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  position: absolute;
}
@keyframes portFade {
  100% {opacity: 1}
}
.globe-header {
  position: relative;
  : white;
  font-size: 6.25rem;
  font-weight: 600;
  animation: skilsHeadFade 2s ease forwards;
  margin-top: 6.5rem;
  margin-bottom: -3.5rem;
  opacity: 0;
}
.globe-header span {
  display: inline-block;
  transition: color .35s ease;
}
.globe-header span:hover {
  color: #FF69B4
;
  animation: contactBounce 1s ease forwards;
}


.globe-description {
  margin-top: 2.75rem;
  padding-bottom: 1.6rem;
  font-size: 1.85rem;
  transform: scale(0.9);
  animation: portDescScale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes portDescScale {
  100% {transform: scale(1)}
}
.globe-description span {
  display: inline-block;
  opacity: 0;
  filter: blur(2px);
  padding-right: 1px;
} 
.globe-description span:nth-child(1) {animation: descFadeIn 0.8s .7s forwards cubic-bezier(0.11, 0, 0.5, 0)}
.globe-description span:nth-child(2) {animation: descFadeIn 0.8s .8s forwards cubic-bezier(0.11, 0, 0.5, 0)}
.globe-description span:nth-child(3) {animation: descFadeIn 0.8s .9s forwards cubic-bezier(0.11, 0, 0.5, 0)}
.globe-description span:nth-child(4) {animation: descFadeIn 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0)}
.globe-description span:nth-child(5) {animation: descFadeIn 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0)}
.globe-description span:nth-child(6) {animation: descFadeIn 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0); color: #08fdd8
  ; text-decoration: underline; cursor: pointer; hover: #FF69B4; }
.globe-description span:nth-child(7) {animation: descFadeIn 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0)}
.globe-description span:nth-child(8) {animation: descFadeIn 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0)}
.globe-description span:nth-child(9) {animation: descFadeIn 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0)}
.globe-description span:nth-child(10) {animation: descFadeIn 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0)}
.globe-description span:nth-child(11) {animation: descFadeIn 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0)}
.globe-description span:nth-child(12) {animation: descFadeIn 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0)}
.globe-description span:nth-child(13) {animation: descFadeIn 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0)}
@keyframes descFadeIn {
  100% {opacity: 1; filter: blur(0)}
}

@media (max-width: 950px) {
  .globe-header {
      font-size: 5.5rem;
  }
}

@media (max-width: 650px) {
  
    .globe-header {
        font-size: 4.5rem;
    }
}

@media (max-width: 480px) {
      .globe-header {
          font-size: 4rem;
      }
    }